.root {
  background-color: #E1B171
  flex: 1
  display: flex
  flex-direction: column
  .destroy {
    width: 80%
    margin: auto
    position: relative
    .scaler {
      width: 100%
      height: auto
    }
  }
}

.content {
  position: absolute

  height: 100%
  width: 100%

  top: 0
  .code {
    width: 75%
    display: block
    border: none
    height: 2rem
    margin: 1.5rem auto
    font-size: 1.2rem
    text-align: center

    &::-ms-input-placeholder {text-align: center}
		&::-webkit-input-placeholder {text-align: center}

    &:focus::-webkit-input-placeholder { color:transparent; }
    &:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
    &:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
    &:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

    &:focus::-webkit-input-placeholder {
      opacity: 0;
    }
  }
  .confirm {
    border: none
    height: 2.2rem
    width: 60%

    background-color: #FFA91E

    border-radius: (@height / 2)rem

    color: #fff
    font-size: 0.9rem

    display: block
    margin: auto
    position: absolute
    left: 0
    right:0
    bottom: 3.6rem

    box-shadow: rgba(254, 169, 28, 0.35) 2px 2px 9px 0px

    &.disabled {
      background-color: #e4e4e4
    }
  }
}
