.search-input-wrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 1.5rem 1.5rem .5rem;
  font-size: 0;
  background-color: #fff;
  .search-input {
    font-size: 0.7rem;
    line-height: 0.7rem;
    flex-grow: 1;
    height: 1.7rem;
    line-height: 1.7rem;
    border: none;
    border-radius: .85rem;
    background-color: #e0e0e0;
    padding: 0 1rem;
    margin-right: .5rem;
    color: #717171;
  }
  .search-button {
    width: 3.4rem;
    height: 1.7rem;
    border: none;
    border-radius: .85rem;
    font-size: .8rem;
    color: #fff;
    background-color: #ffac00;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    &[disabled] {
      background-color: #bbb;
    }
  }
}

.hints-list {
  height 100px
  background-color #fff
  width 100%
  position absolute
  z-index 999
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      display: flex;
      flex-direction: row;
      padding: .7rem 1.5rem;
      border-bottom: 1px solid #f5f5f5;
      > .search-icon {
        display: inline-block;
        width: .7rem;
        height: .7rem;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0 .5rem 0 0;
      }
      > .shop-name, > .shop-mark {
        display: inline-block;
        height: .7rem;
        font-size: .7rem;
        line-height: .7rem;
        vertical-align: top;
        flex-grow: 1;
      }
      > .shop-mark {
        flex-shrink: 0;
        flex-grow: 0;
        color: #ffac00;
      }
    }
  }
}