@keyframes rotate {
  0% {
    transform: translateX(0)scale(1);
    z-index: 3;
  }
  33.33% {
    transform: translateX(200%)scale(1.5);
    z-index: 3;
  }
  66.67% {
    transform: translateX(400%)scale(1);
    z-index: 2;
  }
  100% {
    transform: translateX(0)scale(1);
    z-index: 1;
  }
}
.loading {
  top 0
  position fixed
  height 100%
  width 100%
  background-color #FFF
  display flex
  flex-direction column
  justify-content center
  transition opacity 0s 1s, z-index 0s 1s
  z-index -1
  opacity 0
  &.no-fixed {
    position relative
    z-index 0
    transition all 0s 0s
  }
  &.show {
    opacity 1
    z-index 99999
  }
  .animating {
    flex-grow 0
    position relative
    height 1.2rem
    width 6rem
    margin 0 auto
  }
  > h1 {
    flex-grow 0
    font-size 16px
    text-align center
    height: 3.8rem;
    line-height: 3.8rem;
    color: #8d4c4c;
    margin: 0;
  }
  .three-balls {
    .ball {
      width: 20%;
      height: 100%;
      position: absolute;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      margin: auto;
      animation-name: rotate;
      animation-iteration-count: infinite;
      animation-duration: 1.8s;
      animation-timing-function: linear;
    }
    .ball.light {
      background-color: #FFAE00;
      animation-delay: 0s;
    }
    .ball.light-dark {
      background-color: #ff7c1b;
      animation-delay: -1.2s;
    }
    .ball.dark {
      background-color: #F05323;
      animation-delay: -0.6s;
    }
  }
}
