// ul {
//   height 100%
//   box-sizing border-box
//   overflow auto
//   padding: 1.5rem 0.8rem
//   margin: 0
//   list-style none
//   > li {
//     margin-top -0.3rem
//     position relative
//     height 7rem
//     > img {
//       width 100%
//     }
//     .ticket-info {
//       top 0
//       width 100%
//       height 100%
//       box-sizing border-box
//       position absolute
//       padding 1.5rem 0 1.8rem 1.3rem
//       display flex
//       flex-direction row
//     }
//   }
// }
// .shop-icon {
//   width 3rem
//   height 3rem
//   border-radius 1.5rem
//   background-color aliceblue
//   flex-shrink 0
// }
// .text-info {
//   flex-grow 1
//   padding-left 1rem
//   display flex
//   flex-direction column
//   color: #FFFFFF
//   h1 {
//     margin 0
//     font-size 0.9rem
//     margin-bottom 0.5rem
//   }
//   span {
//     font-size 0.65rem
//     line-height 1rem
//     vertical-align top
//   }
// }
// span.promotion-info, span.duration-info, span.go-to-comment {
//   font-size 0.65rem
//   line-height 1rem
//   vertical-align top
//   transform translateX(1rem)
//   padding-right 1rem
//   &::before, &.go-to-comment::after {
//     vertical-align top
//     content ''
//     width 1rem
//     height 1rem
//     display inline-block
//     background-size 100% 100%
//     transform translateX(-100%)scale(0.7)
//     position absolute
//   }
//   &.promotion-info {
//     &::before {
//       background-image: url('./icon_tag.png')
//     }
//   }
//   &.duration-info {
//     &::before {
//       background-image: url('./icon_time.png')
//     }
//   }
//   &.go-to-comment {
//     &::before {
//       background-image: url('./icon_time.png')
//       opacity 0
//     }
//     &::after {
//       background-image: url('./icon_comment.png')
//       transform-origin 0 40%
//       width 1.2rem
//       transform scale(0.5)
//     }
//   }
// }
// p.promotion-info, p.duration-info{
//   &::before {
//     display block
//     margin 0.3rem auto
//   }
// }
// .right-action {
//   display flex
//   font-size 0.65rem
//   height 100%
//   width 14%
//   margin-right 2%
//   right 0
//   top 0
//   flex-shrink 0
//   span {
//     color #ffffff
//     margin auto
//     img {
//       vertical-align middle
//       width 0.8rem
//       height 0.8rem
//     }
//   }
// }

.ticket-list {
  padding 1rem 0
  margin 0
  > .single-ticket {
    width 90vw
    height (@width * 217 / 666)vw
    background-image url('../../assets/bg_card.png')
    background-size cover
    margin auto
    margin-bottom 0.6rem

    // padding-right 2.4rem
    box-sizing border-box

    display flex
    flex-direction row

    > .shop-info-wrapper {
      height 70%
      margin auto
      width 100%
      display flex
      flex-direction row
      .shop-icon {
        border-radius 0.2rem
        overflow hidden
        margin 0 1rem
        height 100%
        width (90 * 0.7 * 217 / 666)vw
        flex-shrink 0
        background-color #f2f2f2
      }
      > .text-info {
        color #444444
        > h1 {
          font-size 0.9rem
          margin 0
          font-weight 400
        }
        > .promotion-info, > .duration-info {
          display block
          line-height 0.8rem
          font-size 0.7rem
          position relative
          margin 0.3rem 0
          &:before {
            content ''
            display inline-block
            width 0.8rem
            height 0.8rem
            margin-right 0.3rem
            background-image url('../../assets/sign.png')
            background-size cover
            vertical-align middle
          }
        }

        > .duration-info {
          &:before {
            background-image url('../../assets/time.png')
          }          
        }
      }

      .right-action {
        width 2.4rem  
      }
    }
  }
}