
.ticket-list {
  padding 1rem 0
  margin 0
  overflow auto
  height 100%
  > .single-ticket {
    width 90vw
    height (@width * 217 / 666)vw
    background-image url('../../assets/bg_card.png')
    background-size cover
    margin auto
    margin-bottom 0.6rem

    // padding-right 2.4rem
    box-sizing border-box

    display flex
    flex-direction row

    position: relative

    &.out-of-date, &.destroyed {
      > .shop-info-wrapper {
        > .text-info{
          opacity 0.5
        }
      }
      &:after {
        content ''
        display block
        position: absolute
        width: 100%
        height: 100%

        top: 0
        left: 0

        background-color: rgba(0,0,0,0.3)

        background-image: url('../../assets/out_of_date.png')
        background-position: center center

        background-size: auto 70%
        background-repeat: no-repeat

        border-radius: 4px
      }
    }

    &.destroyed {
      &:after {
        background-image: url('../../assets/destroyed.png')
      }
    }

    > .shop-info-wrapper {
      height 70%
      margin auto
      width 100%
      display flex
      flex-direction row
      .shop-icon {
        border-radius 0.2rem
        overflow hidden
        margin 0 1rem
        height 100%
        width (90 * 0.7 * 217 / 666)vw
        flex-shrink 0
        background-color #f2f2f2
      }
      > .text-info {
        color #444444
        flex-grow 1
        > h1 {
          font-size 0.9rem
          margin 0
          font-weight 400
        }
        > .promotion-info, > .duration-info {
          display block
          line-height 0.8rem
          font-size 0.7rem
          position relative
          margin 0.3rem 0
          &:before {
            content ''
            display inline-block
            width 0.8rem
            height 0.8rem
            margin-right 0.3rem
            background-image url('../../assets/sign.png')
            background-size cover
            vertical-align bottom
          }
        }

        > .duration-info {
          &:before {
            background-image url('../../assets/time.png')
          }          
        }
      }

      .right-action {
        width 2.4rem  
      }
    }
  }
}