.table-wrapper {
  padding 0 1rem
}

.subtype-table {
  // border: 1px solid #696969;
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0.3rem
  td {
    border: 1px solid #b2b2b2;
    &:first-child {
      border-left: none
    }
    &:last-child {
      // // padding 0.3rem 0
      // // display block
      // // border-left none
      // border-bottom none
      border-right none
    }
  }
  tr {
    &:first-child {
      td {
        border-top: none
      }
    }
    &:last-child {
      td {
        border-bottom: none
      }
    }
  }
}

.bg-element {
  margin 0.5rem 1rem 0
  width: 3.652rem;
  height: 4rem;
  background-image url('../../assets/types.png')
  background-size auto 100%
}
.title {
  text-align: center;
  font-size: 0.8rem;
  color: #2e2e2e;
  padding: 0.3rem;
  margin: auto 0;
}
.subtype {
  display: inline-block;
  padding: 0 0.7rem;
  margin: 0 0.3rem;
  height: 1.3rem;
  font-size: 0.65rem;
  line-height: 1.3rem;
  color: #555351;
  background-color: #fed73b;
  border-radius: 0.65rem;
  text-decoration: none;
}