.tab-header-wrapper {
  height 1.8rem
  background-color #fff
  display flex
  flex-direction row
  position relative
  border-bottom 1px solid #f2f2f2
  flex-shrink 0
  > .tab-selection {
    flex-grow 1
    height 1.8rem
    line-height 1.8rem
    font-size:  0.7rem
    color #696969
    text-align center
    > .title-wrapper {
      width 40%
      margin 0 auto
    }
    &.active {
      color #fda832
      > .title-wrapper {
        border-bottom 1px solid #fda832
      }
    }
  }

  > .select-line {
    height 1px
    min-width 20px
    background-color #fda832
    position absolute
    bottom 0
  }
}