.popular-shop-list {
  list-style none
  margin 0.7rem
  margin-top 0.3rem
  padding 0
  text-align center
  height 4.1rem
  overflow hidden
}

.popular-shop-list-item {
  display: inline-block;
  font-size: 0;
  margin-bottom: .5rem;
}

.popular-shop {

  &.no-grow {
    flex-grow 0
    flex-shrink 0
    overflow hidden
  }
}

.popular-shop-list-link {
  display: inline-block;
  padding: 0 .7rem;
  margin: 0 .5rem;
  height: 1.3rem;
  font-size: .65rem;
  line-height: 1.3rem;
  color: #555351;
  background-color: #fed73b;
  border-radius: .65rem;
  text-decoration: none;
}